.main{
  width: 100%;
  border: 5px solid #000;
  display: flex;
  flex-direction: row;
}
.left{
  width: 25%;
  border: 2px solid #c45e45;
  margin: 5px;
  padding: 5px 3px 1px 10px;
  background-color: #999;
  background-image: url(ccc.jpg);
}
.left img{
  width: 200px;
  border-radius: 50%;
  border: 3px solid red;
  box-shadow: 3px 2px 10px #000;

}
.right{
  width: 70%;
  border: 2px solid #000;
  margin: 3px;
  padding:5px;
  background-color: #666;
  background-image: url(ccc.jpg);
}
#name{
  color: #black;
}
h1{
  color: black;
}
h2.hover{
  color: red;
}
h2{
  color: black;
}

@media only screen and (max-width:480px)
{
  .main{
    width: 100%;
    border: 5px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
    border: 2px solid #c45e45;
    margin: 5px;
    padding: 5px 3px 1px 10px;
    background-color: #999;
    background-image: url("rathan.jpg");
    font-style: italic;
  }
  .left img{
    width: 200px;
    border-radius: 50%;
    border: 3px solid red;
    box-shadow: 3px 2px 10px #000;

  }
  .right{
    width: 100%;
    border: 2px solid #000;
    margin: 3px;
    padding:5px;
    background-color: #666;
    background-image: url("rathan.jpg");
  }
  #name{
    color: #000;
  }
  h1{
    color: #fff;
  }
  h2.hover{
    color: #fff;
  }
  h2{
    color: #ff0;
  }
}

@media only screen and (min-width:480px) and (max-width:768px)
{
  .main{
    width: 100%;
    border: 5px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .left{
    width: 100%;
    border: 2px solid #c45e45;
    margin: 5px;
    padding: 5px 3px 1px 10px;
    background-color: black;
    font-size:15;
    font-style: italic;
    background-image: url(1.jpg);
  }
  .left img{
    width: 200px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 3px 2px 10px #000;

  }
  .right{
    width: 100%;
    border: 2px solid #000;
    margin: 3px;
    padding:5px;
    background-color: #666;
    font-size: 20;
    background-image: url(c3.jpg);
  }
  #name{
    color: #black;
  }
  h1{
    color: black;
  }
  h2.hover{
    color: #000;
  }
  h2{
    color: black;
  }
}
